.dart_tool/
.idea/
.vscode/
build/
ios/Pods/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
*.keystore.jks
*.p12
*.pem
*.cer
*.key
.env
*.env
assets/env/.env
assets/env/*
*.log
*.tmp
*.cache
pubspec_overrides.yaml
